div(class='col4')
    div(class='card')
        a(href='goods?id='+val['id'])
            h3(class='card-title center') #{val[name]}
            img(
                src='images/' + val['image']
                class='card-images'
            )
            p(class='center') #{val['cost'].toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ')} rub
            ul(class='card-action')
                li
                    button(
                        data-goods_id = val['id']
                        class='button_add_cart'
                    ) to cart