include header.pug

div(class='wrap')
  div(class='content')
    header(class='site-header')
      include site_header_order.pug

    div(class='container')
      div(class='row')
        div(class='col col-md-12')
          h3(class="cart-header") Cart
          div(id='cart-nav')
        div(class='col col-md-12')
          h3 Create order 
        div(class='col col-md-6')
          form#lite-shop-order(action="")
                  div(class='form-control')
                    label(for='username') Name
                    input(
                        type='text',
                        id='username',
                        placeholder='Enter your name',
                        )
                  div(class='form-control')
                    label(for='phone') Phone
                    input(
                        type='text',
                        id='phone',
                        placeholder='+380505555555',
                        )
                  div(class='form-control')
                    label(for='email') Email
                    input(
                        type='text',
                        id='email',
                        placeholder='mail@example.com',
                        )
                  div(class='form-control')
                    label(for='address') Wishes
                    textarea(
                        id='address',
                        placeholder='Additional order requests',
                        )
                  div(class='form-control')
                    label(for='rule') 
                      input(
                          type='checkbox',
                          id='rule',
                          value='1'
                          ) 
                      span  Terms and Conditions
                  div(class='form-control text-right')
                    button(class='button-primary', type='submit') Finish order
    //include nav.pug

  include footer.pug
  script(src='js/order.js')